<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jared.vendme">


    <!-- These lines prompt the user to agree to the app accessing and using the below types of data and hardware. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <!-- MAIN APPLICATION SPECIFICATIONS-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <!-- APP PARENT (Screen boots to this activity) -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <!-- USED FOR GOOGLE MAPS -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />


        <!-- Child activity to the parent. This is triggered by Send Button being pressed. -->
        <activity android:name=".MachineSelection"
            android:parentActivityName=".MainActivity">

            <!-- The below "data tag" is a requirement if the app is going to support API levels 15 and lower. -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>


        <!-- WEBVIEW USED TO VIEW EXTERNAL WEBSITES. -->
        <activity android:name=".webView"
            android:parentActivityName=".MainActivity">

            <!-- The below "data tag" is a requirement if the app is going to support API levels 15 and lower. -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>



    </application>

</manifest>